<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/body.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <h1>Welcome to the blog website, created with Node, Express and EJS!</h1>
        <h2>Below you'll see a list for the created blogs, make sure to create one first!</h2>
    </div>
</body>
</html>