<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/new-post.css">
    <title>Document</title>
</head>
<body>
    <div id="newBlogContainer">
        <form action="/submit" method="POST">
        <textarea name="blog" class="newBlogArea" rows="30" cols="100"></textarea>
        <input type="submit" value="Save">
    </form>
  </div>
</body>
</html>