body {
    background-color: #4b607f;
}

.newBlogArea, input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 10px;
    width: 100px;
    background-color: #e8d8c9;
}

